@model NikeStore.Web.Models.Dto.OrderHeaderDto
@using NikeStore.Web.Utility
@using Microsoft.AspNetCore.Mvc.TagHelpers


<h1 class="display-6 text-center  mt-5">Order Summary</h1>

<div class="container">
    <div class="mb-3">

        <a asp-action="OrderIndex" class="btn btn-sm btn-danger"><i class="fa-solid fa-arrow-left"></i> Back</a>
    </div>
    <div class="card">
        <ol class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Name</div>
                    <input class="border border-0" asp-for="Name" readonly class="form-control"/>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Order Status</div>
                    <span class="badge text-bg-primary">@Model.Status</span>
                </div>
            </li>

            @if (User.IsInRole(SD.Roles.Admin))
            {
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Update Order Status</div>
                        <form method="post">
                            <input asp-for="OrderHeaderId" hidden/>
                            <p>
                                @if (Model.Status == SD.OrderStatus.Approved)
                                {
                                    <button asp-action="OrderReadyForPickup" asp-route-orderId="@Model.OrderHeaderId" type="submit" class="btn btn-sm btn-success">Ready For Pickup</button>
                                }
                                @if (Model.Status == SD.OrderStatus.ReadyForPickup)
                                {
                                    <button asp-action="CompleteOrder" asp-route-orderId="@Model.OrderHeaderId" type="submit" class="btn btn-sm btn-primary">Complete Order</button>
                                }

                                @if (Model.Status == SD.OrderStatus.Approved || Model.Status == SD.OrderStatus.ReadyForPickup)
                                {
                                <button asp-action="CancelOrder" asp-route-orderId="@Model.OrderHeaderId" type="submit" class="btn btn-sm btn-danger">Cancel Order</button>
                                }

                            </p>
                        </form>
                    </div>
                </li>
            }
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Address</div>
                    <input class="border border-0" asp-for="Address" readonly class="form-control"/>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Email</div>
                    <input class="border border-0" asp-for="Email" readonly class="form-control"/>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Order Date</div>
                    <input class="border border-0" value="@Model.OrderTime.ToShortDateString()" readonly class="form-control"/>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Stripe Session ID</div>
                    @if (User.IsInRole(SD.Roles.Admin))
                    {
                        <input class="border border-0" asp-for="StripeSessionId" readonly class="form-control"/>
                    }
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Stripe Payment Intent ID</div>
                    @if (User.IsInRole(SD.Roles.Admin))
                    {
                        <input class="border border-0" asp-for="PaymentIntentId" readonly class="form-control"/>
                    }
                </div>
            </li>
        </ol>

    </div>
</div>

<br>
<div class="container">
    <div class="card">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col" class="text-end" >Total</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var detail in Model.OrderDetails)
            {
                <tr>
                    <th >@detail.ProductName</th>
                    <th >@detail.Price.ToString()</th>
                    <td>@detail.Count</td>
                    <td class="text-end">@((detail.Count * detail.Price).ToString())</td>
                </tr>
            }

            <tr>
                <th colspan="4" class="text-end text-primary">
                    <strong>Total: </strong>@Model.OrderTotal.ToString()
                </th>
            </tr>

            </tbody>
        </table>
    </div>
</div>
