@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.IdentityModel.Tokens.Jwt
@model NikeStore.Web.Models.Dto.CartDto

<div class="container border mt-2 p-4 rounded">
    <form method="post">
        <input asp-for="CartHeader.UserId" hidden/>
        <input asp-for="CartHeader.CartHeaderId" hidden/>
        <input asp-for="CartHeader.CouponCode" hidden/>
        <input asp-for="CartHeader.Discount" hidden/>
        <input asp-for="CartHeader.CartTotal" hidden/>

        <div class="row">
            <div class="col-md-7 col-12">
                <h1 class="text-danger mb-2 display-6">Order Summary</h1>
            </div>
            <div class="col-md-5 col-12">
                <a asp-action="CartIndex" type="button" class="btn btn-sm btn-danger mt-3"><i class="fa-solid fa-arrow-left"></i> Back</a>
            </div>
            <br/><br/><br/>
            <hr/>
            <div class="col-7">
                <div class="row pt-2">
                    <div class="col-12 py-2">
                        <input asp-for="CartHeader.Name" placeholder="Enter Name" class="form-control" value="@User.Claims.Where(c => c.Type == JwtRegisteredClaimNames.Name).FirstOrDefault().Value"/>
                        <span asp-validation-for="CartHeader.Name" class="text-danger"></span>
                    </div>
                    <div class="col-12 py-2">
                        <input placeholder="Enter Email" asp-for="CartHeader.Email" class="form-control" value="@User.Claims.Where(c => c.Type == JwtRegisteredClaimNames.Email).FirstOrDefault().Value"/>
                        <span asp-validation-for="CartHeader.Email" class="text-danger"></span>
                    </div>
                    <div class="col-12 py-2">
                        <input class="form-control" asp-for="CartHeader.Address" placeholder="Enter delivery address"/>
                        <span asp-validation-for="CartHeader.Address" class="text-danger"></span>
                    </div>
                    <div class="col-12 pt-2">
                    </div>

                </div>
            </div>
            <div class="col-5">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class=" d-none d-lg-block">
                            <div class="row text-dark">
                                <div class="col-6">
                                    Product Details
                                </div>

                                <div class="col-3">
                                    Price
                                </div>
                                <div class="col-3">
                                    Count
                                </div>
                            </div>
                        </div>
                        <hr/>
                        @foreach (var cartObj in Model.CartDetails)
                        {
                            <div class="row h-100">
                                <div class="col-6">
                                    <span style="font-size:20px">@cartObj.Product.Name</span>
                                </div>

                                <div class="col-3" style="font-size:11px;">
                                    <span style="font-size:17px;"> @cartObj.Product.Price.ToString()</span>

                                </div>
                                <div class="col-3" style="font-size:11px;">`
                                    <span style="font-size:17px;"> @cartObj.Count</span>
                                </div>
                            </div>
                            <hr/>
                        }
                        <div class="row">
                            <div class="col-12 text-end pr-4 text-danger">
                                Order Total : @Model.CartHeader.CartTotal.ToString() <br/>
                                @if (Model.CartHeader.Discount > 0)
                                {
                                    <span class="text-success"> Order Discount : @Model.CartHeader.Discount.ToString()</span>
                                }
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="row">

                            <div class="col-12 ">
                                <button type="submit" class="btn btn-dark form-control">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
